@font-face {
    font-family: 'Poppins';
    src : url(../fonts/Poppins-Regular.ttf)
 }

 @font-face {
    font-family: 'Roboto';
    src : url(../fonts/Roboto-Regular.ttf)
 }


 @media only screen and (max-width:768px) {
    .text1 {font-size:18px !important;}
    .img3 {position: relative !important;
       
        width: 100% !important;
       
        top:0 !important;
        left:0 !important;
        }
        .img4{
            margin-top:0 !important;
            margin-left: 0 !important;
            width:100% !important;
            height: 60% !important;
            padding-right: 15px !important;
            
            
            
            }
    
 }
body {
    background: #FAD961;
}
.cont_1 {
    background: #FAD961;
    width: auto;
}
.text1 {
  
font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 27.451px;
line-height: 27px;
color: #000000;

}
.cont_ul>a {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-decoration: none;
color: #1B1B1B;

}
.cont {
   
    background: #FAD961;
min-width: 10 !important;
left: auto !important;
right: 0 !important;}

.cont_2>div>p {
    
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
text-align: center;
letter-spacing: 2px;

color: #000000;
}
.cont_2>div>h1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
text-align: center;
letter-spacing: -4px;

color: #1B1B1B;
}
.button {
Width: 402px; 
Height:60px;
border: 2px solid #1B1B1B;
border-radius: 100px;
padding-left:  37px;
padding-right:  20px;
}
.span1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 38px;
color: #1B1B1B;

}
.span2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;

color: #1B1B1B;
}
.hr {
    border: 1px solid grey;
}
.h_6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 2px;
color: #1B1B1B;

}
.p_text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #1B1B1B;

}

.img3 {position: relative;
z-index: 99;
padding-right: 0;
width: 90%;
height: 100%;
top:-30px;
left:116px;
}
.img4{position: absolute;
margin-top:40px;
margin-left: 178px;
width:57%;
height:107%;



}
.cont_5 {margin-bottom: 107px;}

.cont_6 {
   
    position: absolute;
    z-index: 2;
}


.text_2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #000000;
}
.cont-61>a {
    text-decoration: none;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;

text-align: center;
letter-spacing: 2px;
margin-right: 50px;
}